<%- include("header")-%>

    <body>
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>
            </h1>
        </div>
        <div class="box" id="heading1">
            <h1>
                <%= listTitle1 %>
            </h1>
        </div>
        <div class="box">
            <% for (var i=0;i<newListItems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newListItems[i] %>
                    </p>
                </div>
                <% }%>
                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="list" value=<%=listTitle %>>+</button>
                    </form>
                   

                    
        </div>
        <form action="/reset" method="GET">
            <button class="button1" type="submit">Reset</button>
          </form>
        <form action="about" method="get">
            <button class="button1" type="submit">About</button>
        </form>
        <%- include("footer")-%>